/*-------- Main --------*/

.main {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
    
    height: calc(100% - 92px);
    min-height: 560px;

    padding-top: 40px;
    padding-bottom: 40px;

    &__background {
        padding: 24px 13px 28px 24px;
        background: linear-gradient(266.42deg, #191b26 0%, #121420 100%);
        border: 1px solid rgba(221, 226, 255, 0.1);
        border-radius: 12px;
    }

    &__background--invest {
        padding: 32px 20px 38px 32px;
    }

    &__background:not(.scroll-visible) {
        padding-right: 24px;
    }

    &__background--invest:not(.scroll-visible) {
        padding-right: 32px;
    }

    &__column--1 {
        width: 41%;
    }

    &__column--2 {
        width: 59%;
        height: 100%;
        padding-left: 24px;
    }

    &__column--select {
        height: 14%;
        max-height: 100px;
    }

    &__column--description {
        height: 34%;
        max-height: 252px;
    }

    &__column--schedule {
        height: 46%;
        max-height: 346px;
    }
}