/*-------- Fonts --------*/
$font-r: "Proxima Nova Rg";
$font-b: "Proxima Nova Bold";
$font-fg: "Freigeist";

/*-------- Colors --------*/
$black: #060814;
$purple: #B240DF;
$purpleLinear: linear-gradient(263.82deg, #B240DF -12.94%, #D18CEC 115.37%);

@import './reset.scss';
@import './components/components.scss';